@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body;
    @apply bg-white dark:bg-gray-900 text-black dark:text-white;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-head;
  }
}

::-webkit-scrollbar {
  width: 6px; /* scroll ki width slim */
}

::-webkit-scrollbar-track {
  background: transparent; /* track background subtle */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4); /* halka grey */
  border-radius: 9999px; /* fully rounded */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.6); /* hover pe thoda dark */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
